:global {
  & .App {
    margin-top: 5vw;
    text-align: center;
    width: 100%;
    max-width: 380px;
    min-width: 300px;
    background: white;
    border: 5px solid red;
    border-radius: 10px;
    padding-right: 0;
    padding-left: 0;
  }

  & .headerTabs {
    display: inline-block;
    width: 100%;  /*padding: 0;*/
  }

  & .singleTab {
    width: 100%;
  }

  & .nav-tabs>li {
    width: 33.33%;
  }

  & .channelTable {
    margin-bottom: 0;
  }

}

@media(max-width:380px) {
  :global {
    & .App {

      /*max-width: 380px;*/
      margin-top: 0;
    }

  }

}
