@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* 
pink: #FFAA99
orange: #FF8066
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FFAA99;
}
:global {
:global .testGreen{
  	border: 1px solid green;
}

:global .testBlue{
  	border: 1px solid blue;
}

:global .testOrange{
  	border: 1px solid orange;
}

:global .testRed{
  	border: 1px solid red;
	}
}
