@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* 
pink: #FFAA99
orange: #FF8066
*/

.testGreen{
  border: 1px solid green;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FFAA99;
}



@media(max-width : 380px){
  :global(.red){
  border: 1px solid red;
  max-width: 380px;
  min-width: 300px;
  }
}


@media(max-width : 380px){
:global{
& .myclass{
  background-color: grey;
}
}
}
/* can also use :global(.class){background: red;} for global styles*/

:global{ 
  & .red{
    border: 1px solid yellow;
  max-width: 380px;
  min-width: 300px;
  }
  & .App {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  min-width: 300px;
  background: white;
}

& .headerTabs{
  display: inline-block;
  width: 100%;
  /*padding: 0;*/
}

& .singleTab{
  width: 100%;
}

& .nav-tabs>li{
  width: 33.33%;
}
}
