@import 'testStyles';
@import 'commonCategoryStyles';
@import '../common/colors';

.contactForm{
	margin: 10px 0 20px 0;
  max-width: 400px;
}

.inputField{
	/*max-width: 300px;*/
}

.wrapperContactForm{
	align-items: center;
}